<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
                <rule name="CanonicalHostNameRule1" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^kronostio2\.com$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://kronostio2.com/{R:1}" />
                </rule>
				<rule name="Joomla! Rule 1" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
	
						<conditions logicalGrouping="MatchAny">
							<add input="{QUERY_STRING}" pattern="base64_encode[^(]*\([^)]*\)" ignoreCase="false" />
							<add input="{QUERY_STRING}" pattern="(>|%3C)([^s]*s)+cript.*(&lt;|%3E)" />
							<add input="{QUERY_STRING}" pattern="GLOBALS(=|\[|\%[0-9A-Z]{0,2})" ignoreCase="false" />
						   <add input="{QUERY_STRING}" pattern="_REQUEST(=|\[|\%[0-9A-Z]{0,2})" ignoreCase="false" />
					   </conditions>
					   <action type="CustomResponse" url="index.php" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
				   </rule>
				   <rule name="Joomla! Rule 2">
					   <match url="(.*)" ignoreCase="false" />
					   <conditions logicalGrouping="MatchAll">
						 <add input="{URL}" pattern="^/index.php" ignoreCase="true" negate="true" />
						 <add input="{URL}" pattern="/component/|(/[^.]*|\.(php|html?|feed|pdf|vcf|raw))$" />
						 <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
						 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
					   </conditions>
					   <action type="Rewrite" url="index.php" />
				</rule>
			</rules>
		</rewrite>	
   		<handlers>
			<add name="AsmxRoutingHandler" verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="html" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" />
	   </handlers>
   </system.webServer>
   <system.web>
      <compilation debug="true" />
   </system.web>
    <system.net>
        <mailSettings>
            <smtp from="no-reply@kronosww.com">
                <network host="localhost" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>